.selectContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 45px;
    margin: 10px 0;
    padding: 0 25px;
    border-radius: 23px;
    background-color: #fff
}

.selectContainerUpper{
    position: relative;
    z-index: 2;
}

.openButton{
    cursor: pointer;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center
}

.buttons{
    cursor: pointer;
}

.buttons:hover{
    opacity: 0.8;
}

.buttonsContainer{
    z-index: 2;
    position: absolute;
    background-color: #354360
}

.noBackground{
    background-color: transparent
}

.dropDownBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 67, 96, 0.7);
}