.listContainer{
    padding: 0px 40px;
    min-height: 100vh;
    background: #354360;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between
}

.title{
    display: block;
    color: #fff;
    font-size: 30px;
    padding: 20px 0;
}

table{
    width: 100%;
    background-color: #fff;
   
}

thead{
    background-color: silver;
}

th, td{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.thForArrow{
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.arrowsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    width: 30px
}

