.container{
    padding: 0 40px;
    min-height: 100vh;
    background: #354360;
}

.title{
    display: block;
    color: #fff;
    font-size: 30px;
    padding: 20px 0;
}

.formContainer {
    margin: 0 auto;
  }

  .inputTitles{
      display: block;
      color: #fff
  }

input, textarea {
    outline: none;
    width: 100%;
    height: 45px;
    margin: 10px 0;
    padding: 0 25px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 23px;
    box-sizing: border-box;
  }
  
  textarea{
      min-width: 100%;
      max-width: 100%;
      min-height: 150px
  }

  .date{
      width: 300px
  }

  .saveButton{
      margin-top: 20px;
      cursor: pointer;
      display: flex;
      height: 45px;
      width: 200px;
      border-radius: 23px;
      background-color: #fa8349
  }

  .saveButton:hover{
      opacity: 0.8;
  }
  
  .saveButtonText{
      color: #fff;
      margin: auto
  }

  .header{
      display: flex;
      align-items: center;
      justify-content: space-between
  }

  .openAllButton{
      display: flex;
      height: 45px;
        width: 150px;
        background-color: #fa8349;
        border-radius: 23px;
        cursor: pointer;
    }

    .openAllButton:hover{
        opacity: 0.8;
    }

    .dropDawnRow{
        display: flex
    }